<!DOCTYPE html>
<html>
<head>
  <title>Mytest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "i18n" %>
  <%= javascript_include_tag "translations" %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";

    console.log("___________________________")
    console.log("I18n.default_locale : <%= I18n.default_locale %>")
    console.log("___________________________")
    console.log("___________________________")
    console.log("I18n.locale : <%= I18n.locale %>")
    console.log("I18n.fallbacks : <%= I18n.fallbacks %>")
    console.log("___________________________")

  </script>
</head>
<body>

<%= yield %>
<script type="text/javascript">
console.log(I18n.l("currency", 1990.99))
console.log(I18n.l("number", 1990.99))
console.log(I18n.l("percentage", 1990.99))
console.log(I18n.t('ddd'))
console.log(I18n.t('field.aaa'))
console.log(I18n.t('xxx'))
console.log(I18n.t('num'))
console.log(I18n.t('hhh'))


console.log(I18n.toNumber(1000));
console.log(I18n.toCurrency(1000));
console.log(I18n.toPercentage(100));

console.log(I18n.currentLocale())


console.log(I18n.l("date.formats.short", "2009-09-18"))
console.log(I18n.l("date.formats.short", 1251862029000))
console.log(I18n.l("time.formats.short", "2009-09-18 23:12:43"))
console.log("___________________________")
console.log(I18n.t('test', {locale: 'vi'}))
</script>
</body>
</html>
